<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" th:method="post" th:object="${newuser}">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{name}"/>
    <button type="submit">Login</button>
</form>

</body>
</html>